/* Resetando margens e padding padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}

/* Container do formulário */
.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 15px rgb(0, 253, 253);
    width: 100%;
    max-width: 400px;
    text-align: center;
    
}

/* Título principal */
h1 {
    color: #000000;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Campo de entrada */
label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-size: 14px;
    color: #ffffff;
}

input {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    background-color: #0000004d;
    color: #ffffff;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #13B52B;
    outline: none;
}

/* Botão de envio */
button {
    background-color: #13B52B;
    color: white;
    padding: 15px
}
div {
    border: solid 1px white;
    padding: 10px;
    border-radius: 10px;
    background-color: #a1a1a1;
}